<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="school.coder.mapper.TopicMapper">
    <insert id="insertTopic" parameterType="Topicinfo" useGeneratedKeys="true" keyProperty="topic_id">
        insert into topic_info(topic_title,topic_content,topic_markdown_content,topic_createtime,section_id,user_id)
        values(#{topic_title},#{topic_content},#{topic_markdown_content},#{topic_createtime},#{section_id},#{user_id})
    </insert>
    <update id="updateTopic" parameterType="Topicinfo">
        update topic_info set topic_title=#{topic_title}
        ,topic_content=#{topic_content}
        ,topic_markdown_content=#{topic_markdown_content}
        ,topic_createtime=#{topic_createtime}
        ,section_id=#{section_id}
        ,user_id=#{user_id}
        where topic_id = #{topic_id}
    </update>
    <select id="getAllTopics" resultType="Topicinfo">
        select * from topic_info
    </select>
    <select id="getTopicByID" resultType="Topicinfo">
        select * from topic_info where topic_id = #{value}
    </select>
</mapper>